.container-productos {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.banner-bg-products {
  background-image: url(../../assets/prodBg.jpg);
  width: 100%;
  height: 23rem;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7rem;
}
.banner-products-bgblack {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-title-products {
  color: rgba(255, 255, 255, 0.8);
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}
.title-productos {
  font-size: 2.2rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
  width: 13rem;
  text-align: center;
}
.container-prod-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-acc-prod {
  margin-right: 10rem;
}
.point-product-items {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-gray);
}
/*-----------------------------------------------------------------*/
/*------------------------*CONTROL CALIDAD*------------------------*/
/*-----------------------------------------------------------------*/
.title-ind-products {
  font-size: 1.5rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
  width: 15rem;
  text-align: center;
}

/*-----------------------------------------------------------------*/
/*-----------------------*LINEA PRODUCCION*------------------------*/
/*-----------------------------------------------------------------*/
.title-cal-products {
  font-size: 1.5rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
  width: 16rem;
  text-align: center;
}

/*-----------------------------------------------------------------*/
/*-------------------------*MEDIA QUERIES*-------------------------*/
/*-----------------------------------------------------------------*/

/*-------------------------*1700*-------------------------*/
@media (min-width: 1700px) {
  .banner-bg-products {
    background-image: url(../../assets/prodBg.jpg);
    width: 100%;
    height: 23rem;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner-products-bgblack {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-title-products {
    color: rgba(255, 255, 255, 0.8);
    font-size: 4rem;
    font-weight: 500;
  }
}
/*-------------------------*1200*-------------------------*/

/*-------------------------*600*-------------------------*/

@media (max-width: 600px) {
  .banner-bg-products {
    background-image: url(../../assets/prodBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 5rem;
  }
  .banner-products-bgblack {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-title-products {
    color: rgba(255, 255, 255, 0.8);
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }
  .container-prod-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .img-acc-prod {
    margin-right: 0rem;
    margin-top: 1rem;
  }
}
