.container-productos {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
}

.banner-bg-products {
  background-image: url(../../assets/images/prodBg.jpg);
  width: 100%;
  height: 23rem;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7rem;
}
.banner-products-bgblack {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-title-products {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.productos-destacados {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.productos-destacados-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -2px,
    rgba(0, 0, 0, 0.01) 0px 2px 4px -1px;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
}
.productos-destacados-container span {
  font-size: 1.3rem;
  font-weight: 700;
  color: #606060;
  text-align: center;
}
.productos-container img,
.productos-destacados-container img {
  padding: 2rem 0rem;
  width: 200px;
  height: 200px;
}
.productos-destacados-container:hover button {
  color: var(--color-aqua);
  background-color: white;
  transition: all 0.5s ease;
}
.productos-destacados-container:hover {
  transition: all 0.5s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.05);
}

.productos-destacados-container ul li {
  height: auto;
  padding: 0.5rem;
  font-size: 15px;
  list-style: circle;
}
.productos-destacados-container button {
  text-transform: uppercase;
  background-color: var(--color-aqua);
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 50px;
  padding: 1rem;
}
.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
.productos-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -2px,
    rgba(0, 0, 0, 0.01) 0px 2px 4px -1px;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
}
.productos-container span {
  font-size: 1.3rem;
  font-weight: 700;
  color: #606060;
}
.productos-container:hover button {
  color: var(--color-aqua);
  background-color: white;
  transition: all 0.5s ease;
}
.productos-container:hover {
  transition: all 0.5s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.05);
}

.productos-container ul li {
  height: auto;
  padding: 0.5rem;
  font-size: 15px;
  list-style: circle;
}
.productos-container button {
  text-transform: uppercase;
  background-color: var(--color-aqua);
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 50px;
  padding: 1rem;
}
.products-button {
  text-align: center;
  padding: 5rem 0rem 7rem 0rem;
}
/*-----------------------------------------------------------------*/
/*-----------------------*LINEA PRODUCCION*------------------------*/
/*-----------------------------------------------------------------*/
.title-cal-products {
  font-size: 1.5rem;
  color: #606060;
  font-weight: 500;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-aqua);
  color: white;
  padding: 1rem 0rem;
}
.title-cal-products::before {
  content: " ▶ ";
  margin-right: 10px;
}
/*-----------------------------------------------------------------*/
/*-------------------------*MEDIA QUERIES*-------------------------*/
/*-----------------------------------------------------------------*/

.productos-destacados {
  overflow: auto;
}
@media screen and (min-width: 850px) {
  .p-title-products {
    font-size: 4rem;
  }
  .productos-destacados-container {
    width: 35%;
  }
  .productos-container {
    width: 27%;
  }
  .productos-container img,
  .productos-destacados-container img {
    width: 250px;
    height: 300px;
  }
}
