
.container-productos {
  width: 90%;
  margin: 0 auto;
  height: 40rem;
  padding-top: 8rem;
}
.title-productos {
  font-size: 2.2rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
  width: 13rem;
  text-align: center;
}
.container-prod-elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-acc-prod{
  margin-right: 10rem;
}
/*-----------------------------------------------------------------*/
/*------------------------*CONTROL CALIDAD*------------------------*/
/*-----------------------------------------------------------------*/
.title-ind-products {
  font-size: 1.5rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
  width: 15rem;
  text-align: center;
}

/*-----------------------------------------------------------------*/
/*-----------------------*LINEA PRODUCCION*------------------------*/
/*-----------------------------------------------------------------*/
.title-cal-products {
    font-size: 1.5rem;
    color: var(--color-gray);
    font-weight: 500;
    border-bottom: solid 3px var(--color-aqua);
    width: 16rem;
    text-align: center;
}