.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 7rem;
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.service-title {
  width: 92%;
  display: flex;
  text-align: center;
}

.service-title p {
  width: 21rem;
  font-size: 2.2rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
}

.service__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  padding: 2rem;
  margin: 1rem 0rem;

  -webkit-box-shadow: 0px 0px 10px 2px rgba(171, 171, 171, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(171, 171, 171, 1);
  box-shadow: 0px 0px 10px 2px rgba(171, 171, 171, 1);
}

.service-container div:nth-child(3) {
  flex-direction: row-reverse;
}

.service__image {
  margin: 0rem 10rem;
  width: 15%;
  display: flex;
  align-items: center;
}

.service__image img {
  width: 200px;
}

.service__item-text {
  width: 60%;
}

.service__item-text p {
  color: gray;
}

.service__item-text h1 {
  font-size: 30px;
  font-weight: 300;
  color: var(--hard-gray);
}

.service-button {
  padding: 4rem 0rem;
}
