.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 2rem 0rem;
}
/* //BANER */
.clients-banner {
  background-color: var(--color-background);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0rem;
}

.clients-banner span {
  font-size: 30px;
  margin-bottom: 2rem;
  align-items: center;
  color: rgb(104, 103, 103);
  font-weight: 600;
}
.clients-banner-data {
  display: flex;
  width: 60%;
}
.clients-banner-data div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.clients-banner-data div img {
  width: 60px;
  color: white;
  filter: invert(78%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}
.clients-banner-data div p {
  width: 90%;
}

/* fin */

.clients-images {
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 62%;
  padding: 0rem;
  align-items: center;
  justify-items: center;
}

.clients-images img {
  width: 150px;
  cursor: pointer;
  padding: 2rem;
}

.clients-images img:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.clients-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}

.clients-laurel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-laurel img {
  width: 200px;
  z-index: 1;
}

/*-----------------------------------------------------------------*/
/*-------------------------*MEDIA QUERIES*-------------------------*/
/*-----------------------------------------------------------------*/

@media (min-width: 1700px) {
  .clients-images {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0rem;
  }
  .clients-images img {
    width: 250px;
  }

  .clients-laurel {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .clients-laurel img {
    width: 200px;
  }
}

@media (max-width: 850px) {
  .clients {
    width: 100%;
  }

  /* //BANER */
  .clients-banner {
    background-color: var(--color-background);
    width: 100%;
    padding: 1rem 0rem;
  }

  .clients-banner-data {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .clients-banner-data div p {
    width: 60%;
  }

  .container-title-clients {
    width: 13rem;
  }

  .clients-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .clients-images img {
    width: 200px;
  }

  .clients-laurel {
    display: none;
  }
}

@media (max-width: 650px) {
  .clients-banner-data div p {
    width: 95%;
  }
  .clients-banner span {
    font-size: 25px;
    margin-bottom: 2rem;
    align-items: center;
  }
}
