.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 93%;
  margin: 4.5rem 0rem;
}

.title-client {
  width: 100%;
  display: flex;
  text-align: start;
}

.title-client p {
  font-size: 2.2rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
}

.clients-background {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 250px;
}

.clients-banner {
  width: 100%;
  height: 250px;
  background-image: url("../../assets/bannerClients.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bg-glass-clients {
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 250px;
}

.bg-glass-clients span {
  font-size: 30px;
  width: 65%;
  margin-right: 3rem;
  color: #fff;
  font-weight: 500;
}

.clients-images {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 62%;
  padding: 2rem;
}

.clients-images img {
  width: 200px;
  cursor: pointer;
  padding: 2rem;
}

.clients-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-laurel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-laurel img {
  width: 200px;
}

@media (max-width: 600px) {
  .clients {
    width: 22rem;
    margin-top: 2rem;
  }

  .title-client {
    text-align: end;
  }

  .clients-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .clients-background {
    width: 22rem;
    height: 150px;
  }

  .clients-banner {
    width: 22rem;
    height: 150px;
  }

  .clients-banner span {
    font-size: 1.1rem;
    margin: 0.5rem;
    width: 60%;
    opacity: 0.9;
  }

  .bg-glass-clients {
    width: 100%;
    height: 150px;
  }
}
