.swiper-button-next::after,
.swiper-button-prev::after {
  margin-top: 10rem;
  width: 20px;
}

.homeCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13rem;
}
.homeCard__items {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  width: 90%;
  padding: 2rem 0rem;
  height: 550px;
}

.homeCard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.homeCard__container span {
  padding-left: 1rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--hard-grey);
}

.homeCard__container button {
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  padding: 1rem;
  background-color: white;
  border: none;
  margin-top: 3rem;
}

.homeCard__image {
  width: 50%;
  padding: 0rem 2rem;
}

.homeCard__image img {
  width: 100%;
}

.homeCard__button-responsive {
  display: none;
}

@media (max-width: 850px) {
  .homeCard__items {
    flex-direction: column;
  }
  .homeCard__container {
    width: 100%;
  }
  .homeCard__container span {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .homeCard__container button {
    display: none;
  }
  .homeCard__image {
    width: 90%;
  }

  .homeCard__button-responsive {
    display: flex;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    padding: 1rem;
    background-color: white;
    border: none;
    margin-top: 2rem;
  }
}
