.container-contact {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-elements-contact {
  width: 70rem;
  padding-top: 7rem;
}
.title-contact {
  font-size: 2.2rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
  width: 13rem;
  text-align: center;
}
.container-map-contact {
  width: 70rem;
  height: 26rem;
  background-color: red;
}
.container-form-info-contact {
  display: flex;
  width: 70rem;
}

.contact-info {
  height: 100%;
  width: 50%;
}

.contact-info__container {
  display: flex;
  color: var(--color-aqua);
  font-weight: bold;
  margin: 4rem 0rem;
}

.contact-info__icon {
  font-size: 3.5rem;
  color: var(--color-aqua);
  margin-right: 5px;
}

.contact-info__data-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-info__data-position span:nth-child(even) {
  color: var(--color-gray);
  font-weight: 400;
}
