.container-contact {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}
.container-elements-contact {
  width: 90%;
  padding-top: 7rem;
}
.title-contact {
  font-size: 2.2rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
  width: 13rem;
  text-align: center;
}
.container-map-contact {
  width: 100%;
  height: 26rem;
}
.container-form-info-contact {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

/*-----------------------------------------------------------------*/
/*--------------------------*CONTACT INFO*---------------------------*/
/*-----------------------------------------------------------------*/

.contact-info {
  height: 28rem;
  margin-top: 1rem;
  width: 40%;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.contact-info__container {
  display: flex;
  align-items: center;
  color: var(--color-aqua);
  font-weight: bold;
}

.contact-info__icon {
  font-size: 3.5rem;
  color: var(--color-aqua);
  margin-right: 5px;
}

.contact-info__data-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-info__data-position span:nth-child(even) {
  color: var(--color-gray);
  font-weight: 400;
}

/*-----------------------------------------------------------------*/
/*--------------------------*GOOGLE MAP*---------------------------*/
/*-----------------------------------------------------------------*/

.map-google {
  width: 100%;
  height: 26rem;
}

/*-----------------------------------------------------------------*/
/*--------------------------*CONTACT FORM*---------------------------*/
/*-----------------------------------------------------------------*/

.contact-form {
  width: 100%;
  height: 35rem;
  margin-top: 2rem;
}

.contact-form-inputs-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-form h2 {
  color: var(--color-aqua);
}

.contact-form h4 {
  color: var(--color-gray);
  font-weight: 400;
}

.contact-form form div {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  outline: 0;
  gap: 0.8rem;
  box-sizing: border-box;
  justify-content: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 0.5px solid #c7c7c7;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: 0;
  padding: 0.5rem 0.5rem;
  font-family: "Poppins", sans-serif;
  resize: none;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*-----------------------------------------------------------------*/
/*-------------------------*MEDIA QUERIES*-------------------------*/
/*-----------------------------------------------------------------*/

/*-------------------------*1700*-------------------------*/
@media (min-width: 1700px) {
  .container-elements-contact {
    width: 110rem;
    padding-top: 7rem;
  }
  .container-map-contact {
    width: 100%;
    height: 30rem;
  }
  /*-------------------------*Map*-------------------------*/
  .map-google {
    width: 110rem;
    height: 30rem;
  }
}
/*-------------------------*1200*-------------------------*/

/*-------------------------*600*-------------------------*/

@media (max-width: 600px) {
  .map-google {
    width: 100%;
    height: 30rem;
  }
  .container-elements-contact {
    width: 20rem;
    padding-top: 7rem;
  }
  .container-map-contact {
    width: 100%;
    height: 30rem;
  }

  .container-form-info-contact {
    flex-direction: column;
  }

  /* Contact Info */
  .contact-info {
    margin-top: 3rem;
    height: 20rem;
    width: 100%;
  }

  /* Form */
  .contact-form {
    width: 100%;
  }
  .contact-form h4 {
    font-size: 14px;
  }
  .contact-form-inputs-container {
    flex-direction: column;
  }

  .contact-form textarea {
    width: 100%;
  }

  .form-button {
    justify-content: flex-start;
  }
}
