.container-contact {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-elements-contact {
  width: 70rem;
  padding-top: 7rem;
}
.title-contact {
  font-size: 2.2rem;
  color: var(--color-gray);
  font-weight: 500;
  border-bottom: solid 3px var(--color-aqua);
  width: 13rem;
  text-align: center;
}
.container-map-contact {
  width: 100%;
  height: 26rem;
}
.container-form-info-contact {
  display: flex;
  width: 70rem;
}

.contact-info {
  height: 100%;
  width: 40%;
}

.contact-info__container {
  display: flex;
  color: var(--color-aqua);
  font-weight: bold;
  margin: 4rem 0rem;
}

.contact-info__icon {
  font-size: 3.5rem;
  color: var(--color-aqua);
  margin-right: 5px;
}

.contact-info__data-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-info__data-position span:nth-child(even) {
  color: var(--color-gray);
  font-weight: 400;
}

/*-----------------------------------------------------------------*/
/*--------------------------*GOOGLE MAP*---------------------------*/
/*-----------------------------------------------------------------*/

.map-google{
  width: 70rem;
  height: 26rem;
}

/*-----------------------------------------------------------------*/
/*-------------------------*MEDIA QUERIES*-------------------------*/
/*-----------------------------------------------------------------*/


/*-------------------------*1700*-------------------------*/
@media (min-width: 1700px) {
  .container-elements-contact {
    width: 110rem;
    padding-top: 7rem;
  }
  .container-map-contact {
    width: 100%;
    height: 30rem;
  }
  /*-------------------------*Map*-------------------------*/
  .map-google{
    width: 110rem;
    height: 30rem;
  }
}

/*-------------------------*600*-------------------------*/

@media (max-width: 600px) {
  .map-google{
    width: 20rem;
    height: 10rem;
  }
  .container-elements-contact {
    width: 20rem;
    padding-top: 7rem;
  }
  .container-map-contact {
    width: 100%;
    height: 30rem;
  }
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 3rem;
}

.form-container {
  margin-top: 10px;
}
.contact-form h2 {
  margin: 0;
  color: var(--color-aqua);
}

.contact-form form div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.contact-form input,
.contact-form textarea {
  border: 0.5px solid #e9e9e9;
  border-radius: 8px;
  color: #000;
  flex: 1 1;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
  outline: 0;
  padding: 0.5rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

.contact-form input.error,
.contact-form textarea.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
}

.contact-form button:hover {
  color: var(--global-primary-color);
  border-radius: var(--global-radius);
  border: 1px solid var(--global-primary-color);
  background-color: white;
  padding: 10px !important;
}

.abc {
  display: flex;
  border: 1px solid black;
}
