.container-nav {
  height: 8rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(133, 133, 133, 1);
  -moz-box-shadow: 0px 2px 9px 0px rgba(133, 133, 133, 1);
  box-shadow: 0px 2px 9px 0px rgba(133, 133, 133, 1);
}
.container-elements-nav {
  display: flex;
  width: 70rem;
  justify-content: space-between;
  align-items: center;
}
.img-logo {
  width: 15rem;
}
.container-titles-nav {
  display: flex;
  width: 40rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-titles-nav a {
  color: var(--hard-grey);
  font-weight: 500;
  padding-bottom: 1rem;
}
.container-titles-nav a:hover {
  border-bottom: solid 2px var(--color-aqua);
}
/*-----------------------------------------------------------------*/
/*----------------------------*DRAWER*-----------------------------*/
/*-----------------------------------------------------------------*/

.container-drawer-nav {
  display: none;
}
/*-----------------------------------------------------------------*/
/*-------------------------*MEDIA QUERIES*-------------------------*/
/*-----------------------------------------------------------------*/


/*-------------------------*1700*-------------------------*/
@media (min-width: 1700px) {
  .container-elements-nav {
    width: 110rem;
  }
}

/*-------------------------*600*-------------------------*/

@media (max-width: 600px) {
  .container-drawer-nav {
    display: flex;
  }
  .container-drawer-nav {
    display: block;
  }
  .container-nav {
    height: 8rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(133, 133, 133, 1);
    -moz-box-shadow: 0px 2px 9px 0px rgba(133, 133, 133, 1);
    box-shadow: 0px 2px 9px 0px rgba(133, 133, 133, 1);
  }
  .container-elements-nav {
    display: flex;
    width: 22rem;
    justify-content: space-between;
    align-items: center;
  }
  .img-logo {
    width: 12rem;
  }
  .container-titles-nav {
    display: none;
  }
  /*----------------------------*DRAWER*-----------------------------*/
  .div-container-drawer-header {
    display: flex;
  }
  .div-drawer {
    display: flex;
  }
  .div-container-menu-mobile {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 1rem;
    width: 15rem;
  }
  .div-container-menu-mobile a {
    color: #595959;
    text-decoration: none;
    font-weight: 600;
    padding: 1rem;
    border-bottom: solid 2px var(--red);
  }
  .div-container-elements-home {
    margin-top: 7.5rem;
  }
}
